# qmake byproducts. actually there should be none as we should shadow build...
# Makefile
# moc*.cpp

# qt creator
# to be fixed

# C++ byproducts
*.a
*.o
*.so
*.so.*
*.log
*.i

# git mergetool byproducts
*.orig

# emacs backup files
*~

# python byproducts
*.pyc

# vi backup files
*.swp
