# qmake byproducts. actually there should be none as we should shadow build...
# Makefile
# moc*.cpp

# C++ byproducts
*.a
*.o
*.log
*.i

# emacs by-products
*~

# git mergetool byproducts
*.orig

# emacs backup files
*~

# python byproducts
*.pyc

# vi backup files
*.swp

*createlinks.sh
build*/

# license
PureWeb*.lic
