# qmake byproducts. actually there should be none as we should shadow build...
# Makefile
# moc*.cpp

# C++ byproducts
*.a
*.o
*.log
*.i

# emacs by-products
*~

# git mergetool byproducts
*.orig

# emacs backup files
*~

# python byproducts
*.pyc

# vi backup files
*.swp

# proto derived files
carta/cpp/CartaLib/Proto/*.pb.cc
carta/cpp/CartaLib/Proto/*.pb.h
carta/cpp/CartaLib/Proto/*.proto
#carta/cpp/CartaLib/Proto/control/*.pb.cc
#carta/cpp/CartaLib/Proto/control/*.pb.h
#carta/cpp/CartaLib/Proto/request/*.pb.cc
#carta/cpp/CartaLib/Proto/request/*.pb.h
#carta/cpp/CartaLib/Proto/shared/*.pb.cc
#carta/cpp/CartaLib/Proto/shared/*.pb.h
#carta/cpp/CartaLib/Proto/stream/*.pb.cc
#carta/cpp/CartaLib/Proto/stream/*.pb.h

*createlinks.sh
build*/

# license
PureWeb*.lic

carta.pro.user
node_modules
