#dbhost = "127.0.0.1"
#dbhost = "testpavol.cyberska.org"
#dbname = "sfviewer"
#dbuser = "sfviewer"
#dbpassword = "FAsfSZTMVvd3Uhs4"

timeout = 300

#defaultImage = "/scratch/pavol.fits"
defaultImage = "/scratch/smallcube.fits"
debug = true

[cache]
dir = "/n/viz/caches"
cacheName = "snail"

[cacherService]
maxMemory = 1073741824

[fileBrowser]
rootDir = "/n/viz/demos"

[elggFitsHacks]
1/title = "GALFACTS polarization set with 300 channels"
1/path = "/n/viz/demos/300-channels/set1.iqu"
2/title = "GALFACTS polarization set with 300 channels"
2/path = "/n/viz/demos/3000-channels/set2.iqu"
3/title = "2048 x 2048 x 82 polarization set"
3/path = "/n/viz/demos/cube3/cube.iqu"
4/title = "2048 x 2048 x 110 polarization set"
4/path = "/n/viz/demos/cube4/cube.iqu"

[fileShortcuts]
1/title = "Polarization set (IQU) with 300 channels"
1/path = "/n/viz/demos/300-channels/set1.iqu"
2/title = "Cube IQU 3000 channels"
2/path = "/n/viz/demos/3000-channels/set2.iqu"
3/title = "GALFACTS Run 1 Stokes I 300 channels"
3/path = "/n/viz/demos/300-channels/cubeI.fits"
4/title = "GALFACTS Run 1 Stokes I 3000 channels"
4/path = "/n/viz/demos/3000-channels/cubeI.fits"
5/title = "GALFACTS Run 1 Stokes Q 300 channels"
5/path = "/n/viz/demos/300-channels/cubeQ.fits"
6/title = "GALFACTS Run 1 Stokes Q 3000 channels"
6/path = "/n/viz/demos/3000-channels/cubeQ.fits"
7/title = "GALFACTS Run 1 Stokes U 300 channels"
7/path = "/n/viz/demos/300-channels/cubeU.fits"
8/title = "GALFACTS Run 1 Stokes U 3000 channels"
8/path = "/n/viz/demos/3000-channels/cubeU.fits"
9/title = "GALFACTS Run 1 Stokes V 300 channels"
9/path = "/n/viz/demos/300-channels/cubeV.fits"
10/title = "GALFACTS Run 1 Stokes V 3000 channels"
10/path = "/n/viz/demos/3000-channels/cubeV.fits"
11/title = "500x399x350 test cube"
11/path = "/n/ras/cyberska/cube-500x399x350.fits.original"
12/title = "larger 2d beach image 15kx4k"
12/path = "/n/ras/cyberska/beach15x4k.fits"
13/title = "very large fractal 2d image 20k x 20k"
13/path = "/n/ras/cyberska/fractals.fits"
14/title = "2d patterns"
14/path = "/n/ras/cyberska/testing/1.fits"
15/title = "BMIN BMAJ test file"
15/path = "/n/viz/demos/bminbmaj.fits"
