* {
    font-size: 10px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-size: 12pt;
}

table {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#mylog {
    color: #222;
    font-size: 8pt !important;
    margin: 0px;
    padding: 5px;
}

.ui-layout-center {
    padding: 0px !important;
    background-color: #eee !important;
    overflow: hidden !important;
}

.ui-layout-east {
    padding: 0px !important;
    overflow-x: hidden !important;
}

.ui-layout-north, .ui-layout-south {
    /*background-color: black !important;*/
}

.ui-layout-south {
    padding: 0px !important;
    overflow: hidden !important;
}

#plotCanvas {
    width: 100%;
    height: 100%;
}

#pwDiagnosticsPanel * {
    font-size: 0.9em !important;
    max-width: 400px;
    max-height: 80%;
}

button, button:focus {
    background-color: #efe699;
    border-radius: 10px 0 10px 0;
    border: 3px #a19e5e solid;
    color: #000000;
    outline: 0;
}

button:hover {
    border: 3px #242400 solid;
    color: #1e1e1e;
}

#status {
    background-color: #1a1a1a;
    color: #fffdcd;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    border: none;
    font-family: "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    font-size: 12px;
}

#logTitle {
    background-color: gray;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.buttonSpacer {
    margin-left: 20px;
}

.ui-tooltip-content {
    font-size: 10pt;
}

.ui-tooltip {
    background-color: pink;
    border-radius: 0 20px 20px 20px;
}

.iview-container {
    outline: none;
}
